{% extends "@FOSUser/layout.html.twig" %}
{% set page_title = 'Change Password'|trans %}
{% block main %}
  <div class="container-fluid">
    {% include '@BkstgCore/Partials/header.html.twig' with { 'title': page_title } only %}
    {% include '@BkstgFOSUser/Profile/_actions.html.twig' %}
    {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
      {{ form_widget(form) }}
      <div class="form-group">
          <input class="btn btn-primary" type="submit" value="{{ 'change_password.submit'|trans }}" />
      </div>
    {{ form_end(form) }}
  </div>
{% endblock %}
