{% extends 'base.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}
{% set page_title =  'layout.login'|trans %}

{# Attributes to help with vertical centering. #}
{% set html_attr = { 'class': 'h-100' } %}
{% set body_attr = { 'class': 'h-100' } %}

{# Override entire body block. #}
{% block body %}
  <div class="container h-100">
    <div class="row align-items-center h-100">
      <div class="col-lg-4 mx-auto my-auto">
        <div class="card">
          <div class="card-body">
            <h1 class="display-3">{{ 'layout.login'|trans }}</h1>
            {{ include('@FOSUser/Security/login_content.html.twig') }}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
