/composer.local.json
###> symfony/framework-bundle ###
/.env
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###
###> maba/webpack-bundle ###
/node_modules/
###< maba/webpack-bundle ###
/public/compiled/
