{% extends "FOSUserBundle::layout.html.twig" %}
{% block title %}Reset Password{% endblock %}

{% block fos_user_content %}
  <h1>Reset Password</h1>
  <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
    {% if invalid_username is defined %}
      <div class="alert alert-danger">{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}, 'FOSUserBundle') }}</div>
    {% endif %}
    <div class="form-group">
      <label for="username">{{ 'resetting.request.username'|trans({}, 'FOSUserBundle') }}</label>
      <input class="form-control" type="text" id="username" name="username" required="required" />
    </div>

    <input class="btn btn-primary" type="submit" value="{{ 'resetting.request.submit'|trans({}, 'FOSUserBundle') }}" />
</form>
{% endblock fos_user_content %}
