@import '~bootstrap/scss/bootstrap';
@import '~font-awesome/scss/font-awesome';

.post {
  padding-top: 1em;
  padding-bottom: 1em;

  &:hover {
    background-color: lighten($gray-800, 75%);
  }
  &:target {
    background-color: lighten($blue, 45%);
    &:hover {
      background-color: lighten($blue, 45%);
    }
  }
  .children {
    margin-top: 1em;
    border-left: solid 4px lighten($gray-800, 50%);
    background-color: lighten($gray-800, 75%);
  }
  &.pinned {
    background-color: lighten($yellow, 45%);
    border-left: solid 4px $yellow;
    &:target {
      background-color: lighten($yellow, 45%);
      &:hover {
        background-color: lighten($yellow, 45%);
      }
    }
  }
}

ul.pagination {
  margin-top: 1em;
}

.sidebar-menu {
  .list-group {
    .active {
      border: none;
      background-color: darken($gray-800, 10%) !important;
    }
    width: 100%;
    a {
      border-radius: 0;
    }
    .list-group .list-group-item {
      background-color: darken($gray-800, 10%) !important;
      padding-left: 1.5em;
      font-size: 0.9rem;
      &.active {
        border: none;
        border-left: solid 5px #555;
      }
    }
  }
  h5 {
    margin: .5rem;
    color: $white;
  }
}
